:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(23, 24, 33);
  color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: rgb(245, 245, 246);
    color: rgb(22, 22, 22);
  }
}

h1, h2, h3 {
  margin: 0 0 0.5em 0;
}
