.card {
  background-color: rgb(33, 34, 45);
  border-radius: 15px;
  padding: 15px;
}

.card .card {
  background-color: rgb(23, 24, 33);
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: #fff;
  }
}
